@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: none;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  /* custom tailwind utilities */
  .animate-slow-spin {
    animation: spin-slow 20s linear infinite;
  }

  .animate-border-bottom {
    position: relative;
  }

  .animate-border-bottom:after {
    content: "";
    position: absolute;
    left: 0;
    /* spacing in bottom */
    bottom: -8px;
    /* border thickness */
    height: 2px;
    width: 100%;
    transform-origin: left center;
    background: white;
    transform: scale3d(0, 1, 1);
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  .animate-border-bottom:hover:after {
    transform: scale3d(1, 1, 1);
  }

  .transition-sharp {
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .popupHover {
    transition-duration: 0.25s;
  }

  .popupHover:hover {
    transition-duration: 0.25s;
    transform: scale(1.2, 1.2);
  }

  .animate-rise {
    opacity: 0;
    transform: translateY(30%);
    display: inline-block;
    animation: rise 300ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
}
